services:
  webapp:
    build:
      context: .
      dockerfile: dockerfile
    image: webapp:${project.version}
    container_name: webapp_${project.version}
    depends_on:
      - webapp-db
    ports:
      - 8080:8080
      - 8787:8787
      - 9990:9990
  webapp-db:
    image: postgres:${postgresql.docker-image.version}
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${postgresql.username}
      - POSTGRES_PASSWORD=${postgresql.password}